appdirs==1.4.4
asgiref==3.4.1
attrs==21.2.0
colorama==0.4.4
commonmark==0.9.1
dataclasses==0.8
Django==3.0.1
django-filter==21.1
djangorestframework==3.13.1
execnet==1.9.0
importlib-metadata==4.8.3
iniconfig==1.1.1
jedi==0.18.1
Markdown==3.3.6
packaging==21.3
parso==0.8.3
pluggy==1.0.0
prompt-toolkit==3.0.24
psycopg2==2.9.2
ptpython==3.0.20
py==1.11.0
Pygments==2.10.0
pymongo==4.0.1
pyparsing==3.0.6
pytest==6.2.5
pytest-django==4.5.2
pytest-forked==1.4.0
pytest-xdist==2.5.0
pytz==2021.3
rich==10.16.1
sqlparse==0.4.2
toml==0.10.2
typing_extensions==4.0.1
wcwidth==0.2.5
zipp==3.6.0
