appdirs==1.4.4
asgiref==3.4.1
colorama==0.4.4
commonmark==0.9.1
dataclasses==0.8
Django==3.0.1
djangorestframework==3.13.1
importlib-metadata==4.8.3
jedi==0.18.1
parso==0.8.3
prompt-toolkit==3.0.24
psycopg2==2.9.2
ptpython==3.0.20
Pygments==2.10.0
pymongo==4.0.1
pytz==2021.3
rich==10.16.1
sqlparse==0.4.2
typing_extensions==4.0.1
wcwidth==0.2.5
zipp==3.6.0
