{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title> todos/register </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{# jquery 3.6.0 production uncompressed min js #}
	<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>

	<script src="{% static 'todos/js/register.js' %}"></script>

	{# /static/logo/website-logo.png #}
	<link rel="icon" href="{% static 'website-logo.png' %}">

	{# /static/css/base.css - its working #}
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

	{# todos/static/css/style.css #}
	<link rel="stylesheet" type="text/css" href="{% static 'todos/css/style.css' %}">

	{# todos/static/css/register.css #}
	<link rel="stylesheet" type="text/css" href="{% static 'todos/css/register.css' %}">
</head>

<body>
	{% csrf_token %}



	<div class="container">
		<div class="header">
			<h2>Create Account</h2>
		</div>
		<div id="form" class="form">
			<div class="form-control">
				<label for="username">[Username]</label>
				<input type="text" placeholder="alexzander" id="username" name="username" onkeydown="check_username_real_time()" required autofocus>
				<small id="username_small">Error message</small>
			</div>

			<div class="form-control">
				<label for="username">[Email]</label>
				<input type="email" placeholder="alexxander18360@gmail.com" id="email" name="email" required>
				<small id="email_small">Error message</small>
			</div>

			<!-- 			<div class="form-control">
				<label for="username">[Email](Again)</label>
				<input type="email" placeholder="alexxander18360@gmail.com" id="email" name="email" required>
				<small>Error message</small>
			</div> -->

			<div class="form-control">
				<label for="password">[Password]</label>
				<input type="password" placeholder="1238g12hvb12y41!@!29_!$!@$!@#" id="password" name="password" required>
				<small id="password_small">Error message</small>
			</div>

			<script>
				// execute js at page load
				document.addEventListener("DOMContentLoaded", function() {
					console.log("hello from page load")
					const show_password_input = $("#show_password_input")
					if (show_password_input.is(":checked")) {
						// if the user reloaded the page with checkbox checked
						// uncheck the show password after loading page
						show_password_input.prop("checked", false)
						console.log("was unchecked")
					}
				});
				function show_password() {
					// https://stackoverflow.com/questions/1544317/change-type-of-input-field-with-jquery
					const password_input = document.getElementById("password")
					console.log(password_input.type)
					if (password_input.type === "password" ) {
						password_input.type = "text"
						console.log("visible")

					} else {
						password_input.type = "password"
						console.log("invisible")

					}
				}

				const show_pass = document.getElementById("show_password_input")
				console.log(show_pass)
				// .onclick = () => show_password()
			</script>
			<div class="form-control">
				<input type="checkbox" name="show_password" id="show_password_input" onclick="show_password()">
				<label for="show_password">[Show Password]</label>
			</div>

			<div class="form-control">
				<label for="username">[Password](Again)</label>
				<input type="password" placeholder="1238g12hvb12y41!@!29_!$!@$!@#" id="password_check" name="password-check"
					required>
				<span class="password-hint"> (make sure its the same, buddy:)</span>
				<small id="password_check_small">Error message</small>
			</div>


			<div class="form-control">
				<input name="remember" type="checkbox" id="remember-me">
				<span class="remember-me-span">
					remember me
				</span>
			</div>

			<!-- https://css-tricks.com/using-css-cursors/ -->
			<button id="create-account-button" onclick="create_new_account()">
				Create New Account
			</button>
		</div>
	</div>
</body>

</html>

