{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title> base index </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
		integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<!-- for this to work i added  -->
  <!-- os.path.join(BASE_DIR, "static/logo"), -->
	<link href="{% static 'website-logo.png' %}" rel="shortcut icon" type="image/png">
	<!-- <link href="static/logo/website-logo.png" rel="icon"> -->
	<link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css">

</head>

<body>
	<div>
		<div>
			hello world is this located in

		</div>
		<div>
			<strong>
				django_web_app/django_web_app/templates/base_index.html
			</strong>
		</div>

		{% block wrapped %} {% endblock %}
	</div>
</body>

</html>