{% load static %}
{% load livereload_tags %}
<!DOCTYPE html>
<html>

<head>
	{% block title %}
		<title> base index </title>
	{% endblock %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{# jquery 3.6.0 production uncompressed min js #}
	<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>

	<!-- for this to work i added  -->
  <!-- os.path.join(BASE_DIR, "static/logo"), -->
	<link href="{% static 'website-logo.png' %}" rel="shortcut icon" type="image/png">
	<!-- <link href="static/logo/website-logo.png" rel="icon"> -->
	<link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css">

	<!-- for django live reload server -->
	{% livereload_script %}

	{% block custom_style %}

	{% endblock %}
</head>

<body>
	{% csrf_token %}
	<div>
		<div>
			<div>
				(live reload its active)
				base template:

			</div>
			<strong style="padding-left: 20px">
				templates/base_index.html
			</strong>
		</div>
		<br>

		{% block wrapped %}

		{% endblock %}
	</div>
</body>

</html>