{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title> /todos </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- {# jquery 3.6.0 production uncompressed min js #} -->
	<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>

	<script src="{% static 'todos/js/index.js' %}"></script>


	<!-- {# /static/css/base.css #} -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

	<!-- {# todos/static/css/style.css #} -->
	<link rel="stylesheet" type="text/css" href="{% static 'todos/css/style.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'todos/css/style.css' %}">

</head>

<body>
	<!-- this element is hidden -->
	<!-- from django only, django puts this in the template -->
	{% csrf_token %}

	<div>
		total visits on <strong>/todos</strong>:
		<span class="total_visits">
			{{ total_visits }}
		</span>
	</div>

	<div>
		<p class="text-color"> todo list </p>
	</div>

	<div>
		<!-- name is the key that you will use to access the data from textbox; like this: request.form["text"] -->
		<input class="todo-text-box" name="text" type="text" placeholder="cmon, write some ideas" id="textbox" autofocus required>
		<!-- <textarea class="todo-text-box" name="text" type="text" placeholder="just a todo" autofocus> </textarea> -->

	</div>

	<div>
		<ul id="todo-list">
			{% for todo in todo_list %}
			<div>
				<li class="todo-list-item" id="{{ todo.oid }}">
					<button class="complete-todo-button {% if todo.completed %}todo-completed{% endif %}" id="{{ todo.oid }}"
						onclick="complete_todo_ajax(this.id)" style="width: 300px">
						{{ todo.text }}
					</button>

					<button class="delete-todo-button" id="{{ todo.oid }}" onclick="delete_todo_ajax(this.id)">
						delete
					</button>
				</li>

			</div>
			{% endfor %}
		</ul>

	</div>
	<pre id="json-response">

	</pre>
</body>

</html>